[[source]]
name = "IMD Configuration Script"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
validators = "*"
tqdm = "*"
cryptography = "*"

[dev-packages]
py-mon = "*"
coverage = "*"
types-requests = "*"
types-tqdm = "*"
pyflakes = "*"

[requires]
python_version = "3.12"
