[[source]]
name = "IMD Configuration Script"
url = "https://github.com/techietristan/vg_imd_config"
verify_ssl = false

[packages]

[dev-packages]

[scripts]
dev = "python test"

[requires]
python_version = "3.12"
